/**
 * @name Crunch Theme
 * @version 1.0.0
 * @description Make Discord have a Crunch Theme
 * @author Vppelli
 *
 * @website https://github.com/vppelli
 * @source https://github.com/vppelli/predecessor-discord-themes
 * @donate none :)
 * @invite none :)
 */



/*  Add your own font */
/* @import url(Font_Link);  */

/* Using CapnKitten Spotify Theme as Base Template Thankyou 
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Spotify-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 */


/*                       CSS Class For Dummys                  
*
*   For Colors you can use these formates HEX, RGB, and HSL | #00000; = Black | rgb(255, 255, 255); = White | hsl(278, 31%, 44%); = Mid Purple
*
*   For Transparent Colors use RGBA or HSLA | rgba(255, 255, 255, 0); = Invisable 0 mean full transparent 1 for solid color | hsla(278, 31%, 44%, 0); = Invisable 0 mean full transparent 1 for solid color
*   anything that uses color can use transparancy colors
*
*   Image Links use url(YOUR_IMAGE_LINK_HERE); this only works on areas that have image URL or Linear Gradient text
*
*   Gifs! Yes Gifs you can add them too they use the same format as Images use | url(YOUR_GIF_LINK_HERE);
*   
*   You can size images and gifs, scale them to fit using | "cover" to cover | "contain" keeps the size of image | Percentages % Example ( 50% ) will zoom in 50%
*
*   Position of Images use these | center will center it | Percentages % example ( 100% 50% ) will move to the left 100% of the image and will move up 50% of the image size so ( 50% 50% ) will do what ( center ) does
*
*   Gradiens work like this use the | linear-gradient(45deg, #000, #fff); ( 45deg moves the gradient 45 degrees ) ( color, color adds the two colors you want : adding more colors will work too dont forget to do a "," after each color add)
*
*/

 @import url(https://vppelli.github.io/predecessor-discord-themes/src/main.css);

 :root {
     /* Change the font by importing a font, make sure to change the name to see it update */
     --app-font: "Circular Std";
 
     /* Background is overall background use colors for this Linear-gradient colors work too! */
     --app-background: #3a08b0;
 
     /* Forground is color outline for all sub containers (text area, channel area, friends list) */
     --app-foreground: hsla(278, 31%, 44%, .5);
 
     /* Its the background image you can really go crazy here if you understand css. If you dont just replace the Url link with your Image                                                                              Change sizing and scaling here */
     --app-background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1979925384076108867/EA1CADC6094BA76E3606A0CBAA2B97173B205B93/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000%20letterbox=false) center/cover no-repeat;
 
     /* Horizontal Flip change 1 to -1 to flip */
     --img-flip: scaleX(1);
 
     /* Blur for background global */
     --blur-sidepannel: blur(5px);
     --blur-main-chat: blur(0px);
     --blur-chat-header: blur(5px);
 
     /* Changes Channel list background color / image you can really go crazy here if you understand css. If you dont just replace the Url link with your Image                                                              Change sizing and scaling here for image          This is a Gradient if you dont want a background image just delete the url()part */             
     --sidebar-image: url(https://www.predecessorgame.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Frm5ymc69vmwz%2F7hFFuA0iE0ZHMVEZzJDAYH%2Fedd85e473caf770029bcaabdd68e4ee1%2Fgideon.png%3Ffm%3Dwebp%26w%3D1920&w=640&q=75) 75% 100%/300% no-repeat, linear-gradient(180deg, #1f1f1f00, #0000003c, #00000088, #000000) no-repeat;
 
     /* Chat area, can make it a gradient if you want and transparent */
     --chat-background: linear-gradient(180deg, #1f1f1f00, #0000003c, #00000088, #000000);
 
     /* Changed Main color of Links It uses HSL for its color Hue: Number Saturation: Percent % Lightness: Percent % */
     --accent-hue: 259;
     --accent-saturation: 95%;
     --accent-lightness: 96%;
     --accent-text-color: hsl(0, 0%, 6%);
 
     /* Header bar that shows close, minimize, enlarge and dicord title*/
     --header-bar-height: 56px;
     --header-bar-color: hsl(0, 0%, 13%);
 
     /* Header bar that shows the name of chat + pin icon search icon area top area */
     --header-background: #00000017;
 
     /* Buttons */
     --button-height: 36px;
     --button-padding: 0 18px;
     --button-main-color: #8056e2;
     --button-second-color: #fff;
 
     /* This is the floating containers when you hover on server names, popups for emotes, join server, and right click options also uses HSLA ( A means alpha so 0 = transparent 1 = solid )*/
     --popout-color: rgba(66, 10, 81, 0.95);
     --popout-color-alt: hsl(0, 0%, 11%);
     --popout-radius: 6px;
     --popout-radius-big: 10px;
     --popout-border-color: hsl(0, 0%, 26%);
 
     /* Its the Switches for on or off toggle */
     --switch-knob-color: hsl(0, 0%, 100%);
     --switch-slider-color: hsl(0, 0%, 33%);
 
     /* Backdrop when you hover over a Message this uses HSLA ( A means alpha so 0 = transparent 1 = solid ) */
     --message-color-hover: hsla(260, 10%, 17%, 0.329);
 
     /* Text of new message */
     --menu-text-color: hsl(0, 0%, 85%);
 
     /* This is when you hover or interact with channel name, chats, vc, and any hover "text" in discord  */
     --background-tinted-hover: hsla(284, 100%, 50%, 0.5);
     --background-tinted-active: hsla(0, 0%, 100%, 0.11);
     --background-tinted-highlight: hsla(0, 0%, 100%, 0.17);
     --background-tinted-dark: hsla(0, 0%, 0%, 0.23);
 
 }