/* 
*
*       Using CapnKitten Spotify Theme as Base Template Thankyou
*
* @website http://github.com/CapnKitten
* @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Spotify-Discord/css/source.css
* @donate https://paypal.me/capnkitten
* @invite jzJkA6Z
*
*/

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/source.css);


:root {
  --app-font: "Circular Std";

  --app-background: #3a08b0;
  --app-foreground: hsla(278, 31%, 44%, .5);

  --app-background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1979925384076108867/EA1CADC6094BA76E3606A0CBAA2B97173B205B93/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000%20letterbox=false) center/cover no-repeat;
  --img-flip: scaleX(1);

  --app-card-radius: 8px;
  --app-card-margin: 8px;
  --app-card-top-margin: 4px;
  --app-card-border-color: hsl(0, 0%, 14%);

  --app-bar-size: 80px;

  --accent-hue: 259;
  --accent-saturation: 95%;
  --accent-lightness: 96%;
  --accent-text-color: hsl(0, 0%, 6%);

  --alert-hue: 0;
  --alert-saturation: 85%;
  --alert-lightness: 61%;
  --alert-text-color: hsl(0, 0%, 0%);

  --sidebar-panel-color: hsl(0, 0%, 12%);
  --sidebar-panel-border: hsl(0, 0%, 21%);

  --header-bar-height: 56px;
  --header-bar-color: hsl(0, 0%, 13%);

  --card-color: hsl(0, 0%, 10%);
  --card-color-hover: hsl(0, 0%, 15%);
  --card-color-active: hsl(0, 0%, 19%);
  --card-radius: 6px;
  --card-border-color: hsl(0, 0%, 19%);

  --button-height: 36px;
  --button-padding: 0 18px;
  --button-main-color: #8056e2;
  --button-second-color: hsl(0, 0%, 100%);

  --popout-color: hsl(0, 0%, 16%);
  --popout-color-alt: hsl(0, 0%, 11%);
  --popout-radius: 6px;
  --popout-radius-big: 10px;
  --popout-border-color: hsl(0, 0%, 26%);

  --menu-border-color: hsl(0, 0%, 26%);
  --menu-text-color: hsl(0, 0%, 85%);
  --menu-item-radius: 6px;

  --input-height: 36px;
  --input-padding: 0 12px;
  --input-color: hsla(0, 0%, 100%, 0.09);
  --input-radius: 4px;
  --input-border-color: hsl(0, 0%, 33%);
  --input-text-color: hsl(0, 0%, 96%);
  --input-placeholder-color: hsl(0, 0%, 71%);

  --main-textarea-min-height: 48px;
  --main-textarea-color: hsl(0, 0%, 14%);
  --main-textarea-border-color: hsl(0, 0%, 20%);
  --main-textarea-text-color: hsl(0, 0%, 60%);
  --main-textarea-placeholder-color: hsl(0, 0%, 54%);
  --main-textarea-typing-color: hsla(0, 0%, 7%, 0.9);

  --switch-knob-color: hsl(0, 0%, 100%);
  --switch-slider-color: hsl(0, 0%, 33%);

  --message-color-hover: hsla(260, 10%, 17%, 0.329);

  --popout-color: rgba(66, 10, 81, 0.95);

  --menu-text-color: hsl(0, 0%, 85%);

  --background-tinted-hover: hsla(284, 100%, 50%, 0.5);
  --background-tinted-active: hsla(0, 0%, 100%, 0.11);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.17);
  --background-tinted-dark: hsla(0, 0%, 0%, 0.23);

  --header-background: #00000017;

  --blur-sidepannel: blur(5px);
  --blur-main-chat: blur(0px);
  --blur-chat-header: blur(5px);
  --chat-background: linear-gradient(180deg, #1f1f1f00, #0000003c, #00000088, #000000);
  --sidebar-image: url(https://www.predecessorgame.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Frm5ymc69vmwz%2F7hFFuA0iE0ZHMVEZzJDAYH%2Fedd85e473caf770029bcaabdd68e4ee1%2Fgideon.png%3Ffm%3Dwebp%26w%3D1920&w=640&q=75) 75% 100%/300% no-repeat, linear-gradient(180deg, #1f1f1f00, #0000003c, #00000088, #000000) no-repeat;
}

/* Video background none */
.video_d880dc {
  background: none;
}

/*
 *
 *  APP ELEMENTS
 *
 */
.appMount_ea7e65 {
  --app-search-bar-margin: calc( (var(--app-search-bar-height) + 22px) / 2 );
  --window-title-bar-height: 22px;
  --notice-bar-height: 36px;
  background: var(--app-background-image);
}

body,
.app_bd26cc,
.app_a01fb1,
.bg_d4b6c5,
.container_e40c16 {
  background-color: transparent;
}

.content_e40c16 {
  padding: 0 8px;
  background: var(--popout-color);
  border-radius: var(--popout-radius-big);
  box-shadow: var(--default-shadow);
}

::selection {
  background: hsla(var(--accent-hsl), 0.65);
  color: hsl(var(--accent-text-color));
}

.anchor-1MIwyf {
  --text-link: hsl(var(--accent-hsl));
}

.layer_d4b6c5 {
  background: var(--app-background);
}

/*
 *
 *  CHANNELS LIST
 *
 */
.platform-win .sidebar_a4d4d9 {
  border-radius: var(--app-card-radius) !important;
}

.sidebar_a4d4d9 {
  margin: 0 var(--app-card-margin) 0 0;
  background: var(--sidebar-image);
  backdrop-filter: var(--blur-sidepannel);
}
.sidebar_a4d4d9.hidden_a4d4d9 {
  margin: 0;
}
.sidebar_a4d4d9 .container_ee69e0 {
  background-color: transparent;
}

body:not(:has(:is(.container_6sXIoE, #vc-spotify-player))) .sidebar_a4d4d9 {
  height: var(--content-full-height);
}

.link_d8bfb3 {
  border-radius: var(--menu-item-radius);
}

.wrapper_d8bfb3:hover .link_d8bfb3 {
  background-color: var(--background-tinted-hover);
}

.modeSelected_d8bfb3 .link_d8bfb3 {
  background-color: var(--background-tinted-active);
}
.modeSelected_d8bfb3:hover .link_d8bfb3 {
  background-color: var(--background-tinted-highlight);
}

.header_fd6364 {
  height: var(--header-bar-height);
  padding: 0 16px;
  background-color: var(--header-bar-color) !important;
  border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
  box-shadow: none;
}
.header_fd6364 .primaryInfo_fd6364 {
  height: var(--header-bar-height);
}

.hasBanner_fd6364 {
  --header-bar-color: transparent;
}

/*
 *
 *  CHANNELS LIST PANELS
 *
 */
.panels_a4d4d9 {
  background-color: var(--app-foreground);
  border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
}

.activityPanel_a4d4d9 {
  background: transparent !important;
  border-bottom: none;
}
.activityPanel_a4d4d9 + .wrapper_adcaac:not(:empty) {
  border-top: 1px solid var(--sidebar-panel-border);
}

.wrapper_adcaac {
  transition: var(--default-time) var(--default-animation) margin-bottom;
}

.container_adcaac {
  background-color: transparent;
  border-bottom: none;
}

.actionButtons_adcaac .button_dd4f85 {
  --button-padding: 0 12px;
}
.actionButtons_adcaac .button_dd4f85 path[fill] {
  fill: currentColor !important;
}
.actionButtons_adcaac .button_dd4f85 path[stroke] {
  stroke: currentColor !important;
}

.container_b2ca13 {
  background: transparent !important;
  transition: var(--default-time) var(--default-animation) margin-bottom;
}

.button_f67531 {
  border-radius: 16px;
}

.withTagAsButton_b2ca13:hover,
.withTagless_b2ca13:hover {
  background-color: var(--background-tinted-hover);
  border-radius: 20px;
}

.gameActivityToggleAdded-Yd-YxC .withTagAsButton_b2ca13 {
  flex: 0;
  min-width: 32px;
}

/*
 *
 *  CHAT AREA
 *
 */
.base_a4d4d9 {
  width: calc(72px + var(--app-card-margin) * 2 - 100vw);
  margin: var(--app-card-top-margin) var(--app-card-margin) var(--app-bar-size) 0;
  overflow: visible;
}

.hidden_fea3ef + .base_a4d4d9 {
  margin: 0;
}

.chat_a7d72e,
.container_d1c246 {
  border-radius: var(--app-card-radius);
  background: var(--chat-background) !important;
  backdrop-filter: var(--blur-main-chat);
  overflow: visible;
}
.chat_a7d72e .content_a7d72e,
.container_d1c246 .content_a7d72e {
  border-bottom-right-radius: var(--app-card-radius);
}

.chatContent_a7d72e {
  background-color: transparent;
}

.content_a7d72e:before {
  display: none;
}

.scrollerSpacer_e2e187 {
  height: 28px;
}

.resizeHandle_d1c246 {
  background-color: var(--app-background);
}

/* CHAT AREA -> DIVIDERS */
.divider_fc5f50 {
  --divider-color: var(--popout-color);
  --divider-text-color: var(--menu-text-color);
  border-top-color: var(--divider-color);
}
.divider_fc5f50.isUnread_fc5f50 {
  --divider-color: hsl(var(--alert-hsl));
  --divider-text-color: var(--alert-text-color);
}
.divider_fc5f50 .content_fc5f50,
.divider_fc5f50 .unreadPill_fc5f50 {
  background: var(--divider-color);
  color: var(--divider-text-color);
}
.divider_fc5f50 .content_fc5f50 {
  padding: 4px 8px;
  border-radius: 11px;
}

/* CHAT AREA -> NEW MESSAGES BAR */
.newMessagesBar_cf58b5 {
  padding: 0 12px;
  top: 8px;
  border-radius: 16px;
  background-color: hsl(var(--accent-hsl));
  box-shadow: var(--default-shadow);
  gap: 12px;
}
.newMessagesBar_cf58b5 .barButtonBase_cf58b5 {
  padding: 0;
  color: var(--accent-text-color);
}

/* CHAT AREA -> JUMP TO PRESENT BUTTON */
.jumpToPresentBar_cf58b5 {
  margin-bottom: 30px;
  padding-bottom: 0;
  border-radius: 4px;
}
.jumpToPresentBar_cf58b5:active {
  margin-bottom: 28px;
}

/* CHAT AREA -> PLACEHOLDER */
.wrapper_cdfd51, .wrapper_b211c6 {
  background-color: var(--app-foreground);
}

.wrapper_cdfd51, .wrapper_b211c6 {
  background-color: transparent;
}

.attachment_b211c6,
.avatar_b211c6,
.blob_b211c6 {
  background-color: hsl(0, 0%, 100%);
}

/*
 *
 *  MAIN TEXTAREA
 *
 */
.form_a7d72e {
  position: relative;
  width: 100%;
  bottom: calc(var(--app-bar-size) * -1);
  margin-top: calc((var(--app-bar-size) - var(--textarea-margin)) * -1);
  box-sizing: border-box;
}
.form_a7d72e:before, .form_a7d72e:after {
  display: none;
}
.form_a7d72e .textArea_d0696b {
  height: var(--main-textarea-min-height);
  min-height: var(--main-textarea-min-height);
}

.channelTextArea_d0696b {
  margin-bottom: var(--textarea-margin);
  z-index: 2;
}
.channelTextArea_d0696b .attachButton_f298d4 {
  height: var(--main-textarea-min-height);
}
.channelTextArea_d0696b .buttons_d0696b {
  --button-height: var(--main-textarea-min-height);
  height: var(--main-textarea-min-height);
}
.channelTextArea_d0696b .emojiButton_af14ca {
  max-height: unset;
}
.channelTextArea_d0696b .fontSize16Padding_d0696b {
  --textarea-text-padding: calc( calc(var(--main-textarea-min-height) - 22px) / 2);
  padding-top: var(--textarea-text-padding);
  padding-bottom: var(--textarea-text-padding);
}

.typing_d7ebeb {
  width: calc(100% - var(--scrollbar-width));
  left: 0;
  bottom: var(--app-bar-size);
  padding-right: 8px;
  background-color: var(--main-textarea-typing-color);
  border-bottom-left-radius: var(--app-card-radius);
  box-sizing: border-box;
}

.wrapper_faf5ab,
.channelTextArea_d0696b,
.scrollableContainer_d0696b {
  background-color: var(--main-textarea-color);
  border-radius: var(--main-textarea-radius);
}

.scrollableContainer_d0696b {
  background: var(--main-textarea-color) !important;
}

.wrapper_faf5ab {
  height: var(--main-textarea-min-height);
  margin-bottom: var(--textarea-margin);
  padding: 0;
}

.scrollableContainer_d0696b .textArea_d0696b {
  color: var(--main-textarea-text-color);
}
.scrollableContainer_d0696b .textAreaDisabled_d0696b .placeholder_a552a6 {
  padding-left: 16px;
}
.scrollableContainer_d0696b .placeholder_a552a6 {
  color: var(--main-textarea-placeholder-color);
}

/* MAIN TEXTAREA -> REPLY BAR */
.attachedBars_d0696b {
  background-color: var(--main-textarea-color);
  border-radius: var(--main-textarea-radius) var(--main-textarea-radius) 0 0;
  border-bottom: 1px solid var(--main-textarea-border-color);
}
.attachedBars_d0696b .clipContainer_b11c5e {
  margin-top: 0;
  padding-top: 0;
}

.replyBar_b11c5e,
.threadSuggestionBar_b11c5e {
  background-color: transparent;
}

.mentionButton_b11c5e {
  --text-link: hsl(var(--accent-hsl));
} */

/*
 *
 *  HEADER BAR
 *
 */
.container_e44302 {
  height: var(--header-bar-height);
  border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
}
.container_e44302.themed_e44302 {
  background: var(--header-background);
  backdrop-filter: var(--blur-chat-header);
}
.container_e44302.themed_e44302 .children_e44302:after {
  background: linear-gradient(90deg, transparent 0, var(--header-bar-color));
}